<section id="active-bookings">
  <h1><%= t("active_bookings") %></h1>

  <% if @active_bookings.empty? %>
    <div>
      <p><%= t("no_active_booking") %></p>
    </div>
  <% end %>

  <section id="active-bookings-list">
    <ul>
      <% @active_bookings.each do |booking| %>
        <li>
          <%= render booking %>
        </li>
      <% end %>
    </ul>
  </section>

</section>
  <%= link_to t("back_button"), root_path %>