<h1>Estadias ativas</h1>


<% if @active_bookings.empty? %>
  <div>
    <p>Nenhuma estadia ativa no momento</p>
  </div>
<% end %>

<section id="active-bookings-list">
  <ul>
    <% @active_bookings.each do |booking| %>
      <li>
        <%= render booking %>
      </li>
    <% end %>
  </ul>
</section>

<%= link_to "Voltar", root_path %>