<section id="active-bookings" class="width-70">
  <div class="text-center">
    <h1><%= t("active_bookings") %></h1>
  </div>

  <% if @active_bookings.empty? %>
    <div class="text-center">
      <p><%= t("no_active_booking") %></p>
    </div>
  <% end %>

  <section id="active-bookings-list">
    <div class="row d-flex justify-content-center">
      <% @active_bookings.each do |booking| %>
        <div class="col-md-4">
          <%= render partial: "booking_card", locals: { booking: booking } %>
        </div>
      <% end %>
    </div>
  </section>

</section>
  <%= link_to t("back_link"), root_path %>