<h1>Reservas - <%= @inn.name %></h1>

<% if @bookings.empty? %>
  <p>Nenhuma reserva encontrada</p>
<% end %>

<section id="bookings-list">
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= render booking %>
      </li>
    <% end %>
  </ul>
</section>