
<section class="width-70">
  <br>

  <div class="text-center">
    <h1><%= Booking.model_name.human count: 2 %> - <%= @inn.name %></h1>
  </div>

  <br>

  <% if @bookings.empty? %>
    <div class="text-center">
      <p><%= t("no_bookings_found") %></p>
    </div>
  <% end %>

  <div id="bookings-list" class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4">
        <%= render partial: "booking_card", locals: { booking: booking } %>
      </div>
    <% end %>
  </div>
</section>