<h1><%= Booking.model_name.human count: 2 %> - <%= @inn.name %></h1>

<% if @bookings.empty? %>
  <div>
    <p><%= t("no_bookings_found") %></p>
  </div>
<% end %>

<section id="bookings-list">
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= render booking %>
      </li>
    <% end %>
  </ul>
</section>