<% if model.errors %>
  <ul>
    <% model.errors.full_messages.each do |msg| %>
      <li>
        <div class="alert alert-danger text-center">
          <%= msg %>
        </div>
      </li>
    <% end%>
  </ul>
<% end %>