<h1>Detalhes de Período Sazonal</h1>

<%= render partial: "shared/form_errors", locals: { model: @seasonal_price } %>

<%= render partial: "seasonal_price_form", locals: { seasonal_price: @seasonal_price } %>