<section>
  <h2>Novidades</h2>
  <div id="recent">
    <div>
      <%= render @recent_inns %>
    </div>
  </div>

  <div id="inns-list">
    <div>
      <%= render @inns %>
    </div>
  </div>

  <p>Nenhuma pousada cadastrada</p>

</section>