<nav id="cities-menu">
  <ul>
    <% @cities.each do |city| %>
      <li><%= link_to city, city_search_inns_path(city: city) %></li>
    <% end %>
  </ul>
</nav>

<section>
  <% if @recent_inns.empty? %>
    <p>Nenhuma pousada cadastrada</p>
  <% else %>
    <h2>Novidades</h2>
    <div id="recent">
      <div>
        <%= render @recent_inns %>
      </div>
    </div>
    <hr/>
    <h2>Pousadas disponíveis</h2>
    <div id="inns-list">
      <div>
        <%= render @inns %>
      </div>
    </div>
  <% end %>
</section>