
<%= render partial: "inn_display" %>

<div>
  <%= link_to "Editar Pousada", edit_inn_path(@inn) %>
  <%= link_to "Quartos", rooms_path %>
  <%= link_to "Novo Período Sazonal", new_seasonal_price_path %>
</div>