<h1>Busca por: <%= params[:query] %></h1>

<p>Resultados: <%= @inns.count %></p>

<% if @inns.empty? %>
  <p>Nenhuma pousada encontrada</p>
<% else %>
  <ul>
    <li><%= render @inns %></li>
  </ul>
<% end %>