<div class="container">

  <br>

  <% if @rooms.empty? %>
    <p>Nenhum quarto cadastrado</p>
  <% end %>

  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-md-4">
        <%= render partial: "rooms/room_card", locals: { room: room } %>
      </div>
    <% end %>
  </section>
  <br>

  <div class="text-center">
    <%=link_to "Novo Quarto", new_room_path, class: "btn btn-lg btn-dark" %>
  </div>
</div>

