<h1>Editar quarto</h1>

<%= render partial: "shared/form_errors", locals: { model: @room } %>

<%= render partial: "room_form" %>

<% if @room.active? %>
  <%= button_to "Desativar Quarto" %>
<% end %>