header .navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
}

body a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

body a:hover {
    color: orangered;
}

body ul {
    list-style: none;
}

.form-group {
    margin: auto;
    width: 50%;
}

#login-redirector {
    text-align: center;
    width: 50%;
    margin: auto;
}

#login-redirector a {
    margin-bottom: 20px;
    width: 40%;
    font-size: 30px;
}

.details {
    width: 70%;
    margin: auto;
    text-align: center;
}

.description-list {
    width: 70%;
    margin: auto;
    text-align: start;
}

#cities-menu {
    margin-top: 55px;
    font-size: larger;
}

.card {
    margin-bottom: 20px;
    margin-top: 10px;
}


.card-img-top {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.form {
    width: 50%;
    margin: auto;
}

#advanced-search-form button {
    width: 40px;
}

.switches {
    font-size: large;
    margin-left: 35%;
    margin-top: 40px;
    margin-bottom: 30px;
}