<div id="answer-form">
  <h4>Deixe uma resposta para a avaliação</h4>
  
  <%= form_with(url: answer_booking_review_path(@booking, @review)) do |f| %>
    <%= f.label :answer, "Resposta" %>
    <%= f.text_area :answer %>
    <%= f.submit "Enviar" %>
  <% end %>
</div>
