
<% if @review.answer.present? %>
  <div>
    <p><%= Review.human_attribute_name(:answer) %>:</p>
    <p><%= @review.answer %></p>
  </div>

<% elsif current_user %>
  <p><%= t("no_answers") %></p>
<% elsif current_owner %>
  <%= render partial: "reviews/review_answer_form" %>
<% end %>