<% if @review.answer.present? %>
  <p><%= Review.human_attribute_name(:answer) %>: <%= @review.answer %></p>
<% elsif current_user %>
  <p><%= t("no_answers") %></p>
<% elsif current_owner %>
  <%= render partial: "reviews/review_answer_form" %>
<% end %>